In [1]:
import pandas as pd

In [2]:
dataset  =  pd.read_csv('50_Startups.csv')

### dataset.head(5)

In [3]:
y = dataset.iloc[: , -1]

In [4]:
y.shape

(50,)

In [5]:
X = dataset.iloc[: , 0:4]

In [6]:
X.shape

(50, 4)

In [7]:
X.head()

   R&D Spend  Administration  Marketing Spend       State
0  165349.20       136897.80        471784.10    New York
1  162597.70       151377.59        443898.53  California
2  153441.51       101145.55        407934.54     Florida
3  144372.41       118671.85        383199.62    New York
4  142107.34        91391.77        366168.42     Florida

In [8]:
state = dataset.iloc[: ,3 ]

In [9]:
state

0       New York
1     California
2        Florida
3       New York
4        Florida
5       New York
6     California
7        Florida
8       New York
9     California
10       Florida
11    California
12       Florida
13    California
14       Florida
15      New York
16    California
17      New York
18       Florida
19      New York
20    California
21      New York
22       Florida
23       Florida
24      New York
25    California
26       Florida
27      New York
28       Florida
29      New York
30       Florida
31      New York
32    California
33       Florida
34    California
35      New York
36       Florida
37    California
38      New York
39    California
40    California
41       Florida
42    California
43      New York
44    California
45      New York
46       Florida
47    California
48      New York
49    California
Name: State, dtype: object

In [10]:
# preprocess :  categorical variable
from sklearn.preprocessing import LabelEncoder
labelencoder_x = LabelEncoder()
state_new = labelencoder_x.fit_transform(state)

In [ ]:
X.iloc[: , -1] = state_new

In [ ]:
X

In [ ]:
from sklearn.preprocessing  import OneHotEncoder
onehotencoder = OneHotEncoder( categorical_features=[-1])
X = onehotencoder.fit_transform(X).toarray()

In [ ]:
X = X[: , 1:]

In [ ]:
X

In [ ]:
from sklearn.model_selection import train_test_split

In [ ]:
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.20, random_state=42)

In [ ]:
from sklearn.linear_model import LinearRegression

In [ ]:
model = LinearRegression()

In [ ]:
model.fit(X_train ,y_train)

In [ ]:
model.predict(X_test)

In [ ]:
y_test

In [ ]:
model.coef_

In [ ]:
X